@import url('https://fonts.googleapis.com/css?family=Orbitron:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

@font-face {
    font-family: 'silkscreennormal';
    src: url('../fonts/slkscr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ------------- Color ------------- */

body {
    background-color: #232323;
    color: #D9CEEC;
    margin: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}


/* ------------- General ------------- */

a {
    text-decoration: none;
    cursor: default;
    color: inherit;
    font-size: inherit;
}

/* ------------- Game ------------- */

.game-name {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: x-large;

    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 8vh;
    margin-bottom: 10px;
}

.outer-container {
    border: solid #D9CEEC 2px;
    border-radius: 10px;
    padding: 5px;

    position: relative;
    margin: auto;
    text-align: center;
}

@media (min-width: 576px) {
    .outer-container {
        border: solid #D9CEEC 2px;
        border-radius: 10px;
        padding: 5px;

        position: relative;
        margin: auto;
        text-align: center;
        width: 80vw;
    }
}

@media (min-width: 768px) {
    .outer-container {
        border: solid #D9CEEC 2px;
        border-radius: 10px;
        padding: 5px;

        position: relative;
        margin: auto;
        text-align: center;
        width: 70vw;
    }
}

.controller-field {
    border-radius: 10px;
    position: relative;
    width: 100%; 
    display: inline-block;
}

.rules-btn > .btn {
    background-color: #D9CEEC;
    color: #232323;
    font-weight: 500;
    padding: 5px 12px;
    width: 100%;
}

.controller-options {
    display: inline-table;
    padding-top: 5px;
    width: 100%;
}

.btn {
    background-color: #D9CEEC;
    color: #232323;
    font-weight: 500;
    padding: 5px 12px;
    width: 50%;
    border: solid #232323 1px;
}

#strictBlank {
    display: inline-block;
}

#strictCheck {
    display: none;
}

.fa-bell {
    display: inline-block;
}

.fa-bell-slash {
    display: none;
}

.counter-clock {
    width: 100%;
    height: 36px;
    background-color: #D9CEEC;
    text-align: center;
    color: #232323;
    border: solid #232323 1px;
    border-radius: 4px;
    padding: 4px 12px;
}

.hash-div {
    height: 26px;
    background-color: #D9CEEC;
    display: inline-block;
    transform: translateY(0px);
    color: #232323;
    font-weight: 500;
}

.counter-window {
    height: 26px;
    width: 50px;
    background-color: #232323;
    display: inline-block;
    transform: translateY(0px);
    color: #232323;
    font-family: 'silkscreennormal', Arial, sans-serif;
    font-size: large;   
}

.game-fields {
    height: 45vh;
    padding-top: 2px;
}

.game-field-1 {
    background-color: #F47C7C;
    width: 24%;
    display: inline-block;
    height: 45vh;
    position: absolute;
    left: 1%;
    border: solid #232323 1px;
    border-radius: 0 10px 0 10px;
    -moz-border-radius: 0 10px 0 10px;
    -webkit-border-radius: 0 10px 0 10px;
}

.game-field-2 {
    background-color: #F7F48B;
    width: 24%;
    display: inline-block;
    height: 45vh;
    position: absolute;
    left: 25.7%;
    border: solid #232323 1px;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
}

.game-field-3 {
    background-color: #A1DE93;
    width: 24%;
    display: inline-block;
    height: 45vh;
    position: absolute;
    right: 25.7%;
    border: solid #232323 1px;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
}

.game-field-4 {
    background-color: #70A1D7;
    width: 24%;
    display: inline-block;
    height: 45vh;
    position: absolute;
    right: 1%;
    border: solid #232323 1px;
    border-radius: 10px 0 10px 0;
    -moz-border-radius: 10px 0 10px 0;
    -webkit-border-radius: 10px 0 10px 0;
}

/* ------------- Modal ------------- */

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #3F3F3F;
    display: block;
    margin: auto;
    padding: 20px;
    width: 80%;
    border-radius: 15px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.modal-content > h2 {
    font-family: 'Orbitron', sans-serif;
}

.rules {
    color: #D9CEEC;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    text-align: justify;
    padding-top: 5px;
    letter-spacing: 0.8px;
}

.close-modal {
    color: #D9CEEC;
    margin: auto;
    font-size: 2em;
}

/* ------------- Footer ------------- */

.footer {
    background-color: #3F3F3F;
    color: #D9CEEC;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 3px;
    text-align: center;
    height: 5vh;
    font-size: 0.8em;
    display: table;
}

.footer-text {
    display: table-cell;
    vertical-align: middle;
}

/* ------------- Hover ------------- */

.rules-btn > .btn:hover {
    background-color: #ECE5F9;
    color: #232323;
    font-weight: 500;
    padding: 5px 12px;
    width: 100%;
}

.btn:hover {
    background-color: #ECE5F9;
    color: #232323;
    font-weight: 500;
    padding: 5px 12px;
    width: 50%;
    border: solid #232323 1px;
    cursor: default;
}

.close-modal:hover,
.close-modal:focus {
  cursor: default;
}

a:hover {
    text-decoration: none;
    cursor: default;
    color: inherit;
    font-size: inherit;
}